.Post {
    border: 2px solid #ccc;
    margin: 20px auto;
    box-shadow: 0 2px 3px #ccc;
    padding: 6px 10px;
    background-color: white;
    display: block;
}

.PostButton {
    border: 2px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 6px 10px;
    background-color: white;
    margin: 20px auto;
    display: inline-block;
    text-decoration: none;
    color: black;
}

